export(alarmometer)
export(convert_days_to_week)
export(create_isoweek)
export(raw_to_syndromic)
export(rawD_to_syndromicW)
export(rawW_to_syndromicW)
export(syndromic)
export(syndromicW)
exportClasses(syndromic)
exportClasses(syndromicW)
exportMethods("[")
exportMethods(clean_baseline)
exportMethods(clean_baseline_perc)
exportMethods(clean_baselineW)
exportMethods(cusum_synd)
exportMethods(dim)
exportMethods(ewma_synd)
exportMethods(holt_winters_synd)
exportMethods(plot)
exportMethods(plot_syndromic)
exportMethods(pre_process_glm)
exportMethods(retro_summary)
exportMethods(retro_summaryW)
exportMethods(shew_synd)
exportMethods(show)
exportMethods(syndromic_alarm)
exportMethods(syndromic_page)
exportMethods(update_syndromic)
import(abind)
import(ISOweek)
import(mail)
import(MASS)
import(methods)
import(sendmailR)
importFrom(caTools,runquantile)
importFrom(fitdistrplus,fitdist)
importFrom(MASS,glm.nb)
importFrom(qcc,cusum)
importFrom(qcc,ewma)
importFrom(qcc,limits.xbar.one)
importFrom(qcc,sd.xbar.one)
importFrom(qcc,stats.xbar.one)
importFrom(xtable,xtable)
